body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 380px;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 300px;
}

h2 {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

input {
    width: 93%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 15px;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
}

.divider {
    margin: 15px 0;
    color: #777;
    font-size: 14px;
}

.btn-social {
    width: 100%;
    background: #f2f2f2;
    border: none;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    gap: 8px;
}

.footer-text {
    margin-top: 15px;
    font-size: 12px;
    color: #888;
}

/* CONTAINER DA HOME */
.container-home {
    max-width: 380px;
    padding: 20px;
    margin: auto;
}

/* Saudação */
.subtitle-home {
    margin-top: -8px;
    color: #666;
}

/* Cartão Garantia */
.card-garantia {
    display: flex;
    align-items: center;
    background: #e8fdf6;
    border-radius: 12px;
    padding: 15px;
    margin-top: 20px;
    gap: 10px;
}

.icon-circle img {
    width: 40px;
}

/* Timeline */
.timeline {
    margin-top: 25px;
    border-left: 2px solid #e0e0e0;
    padding-left: 18px;
}

.timeline-item {
    margin-bottom: 25px;
    position: relative;
}

.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    left: -28px;
    top: 5px;
}

.done { background: #bdbdbd; }

.active-circle {
    background: #00c7a5;
}

.pending { background: #e0e0e0; }

.timeline-day {
    color: #999;
    margin: 0;
}

.timeline-day-green {
    color: #00a18f;
    font-weight: bold;
    margin: 0;
}

.timeline-title {
    margin-top: 2px;
    font-size: 15px;
}

.timeline-title-strong {
    font-size: 16px;
    font-weight: bold;
}

.timeline-text {
    font-size: 13px;
    color: #666;
    margin-top: 5px;
    margin-bottom: 10px;
}

.btn-detalhes {
    background: #00c7a5;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    box-shadow: 0 -3px 10px rgba(0,0,0,0.05);
}

.menu-item {
    text-align: center;
    font-size: 12px;
    color: #777;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 5px 15px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s ease;
    background: #f4fefe;
    color: #00c7a5;
}



.active-menu {
    color: #00c7a5;
    font-weight: bold;
    background: #e7fffa;
    padding: 5px 20px;
}



